<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/senor-taco-logo_drb.jpg}" width="20%" height="20%"/>

<form method="POST" th:object="${design}">
<!--    object:design is an attribute we have passed in to the model in the controller-->
<!--    its of the type of Taco-->
    <div>
        <div>
            <h3>Designate your wrap:</h3>
            <div th:each="ingredient : ${wrap}">
<!--    name of the input is not arbitrary, it corresponds to the name of the variable
        in the Taco class-->
                <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}">
                <span th:text="${ingredient.name}"></span>
            </div>
        </div>
        <div>
            <h3>Pick your protein:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}">
                <span th:text="${ingredient.name}"></span>
            </div>
        </div>
        <div>
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}">
                <span th:text="${ingredient.name}"></span>
            </div>
        </div>
        <div>
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}">
                <span th:text="${ingredient.name}"></span>
            </div>
        </div>
        <div>
            <h3>Select your sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}">
                <span th:text="${ingredient.name}"></span>
            </div>
        </div>
    </div>
    <div>
    <h3>Name your taco creation:</h3>
<!--        *{name} is variable selection expression it refers to previously selected object-->
<!--        in this case its ${design} if I understand correctly-->
    <input type="text" th:field="*{name}"/>
    <br/>
    <button>Submit your taco</button>
    </div>

</form>

</body>
</html>